<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
<link rel="stylesheet" href="../css/login.css">
<title>Mood-Sync</title>
</head>


<!-- Header -->
<header id="header" class="d-flex flex-wrap justify-content-center py-3">
    <p class="d-flex align-items-center mb-3 mb-md-0 me-md-auto">
      <span id="mood-sync" class="fs-3 mx-3">MOOD-SYNC</span>
    </p>
    
    <div id="logout-button">
    <ul class="nav nav-pills">
     <form id="logout-form" action="/logout" method="POST" style="display: inline;">
  <li id="logout-button" class="nav-link active" aria-current="page">Log Out</li>
</form>
        
    </ul>
    </div>
</header> 


{{!-- Welcome --}}
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to your Dashboard</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Here, you can easily log your mood, view your mood history, and access your journal. Take control of your emotional well-being with these powerful tools at your fingertips. Track your progress, reflect on your journey, and gain valuable insights into your mental health.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="location.href='#moods'">Log Mood</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4" onclick="location.href='#cal-heatmap'">Mood History</button>
        <div class="history-button-container">
        <a href="/history" class="btn btn-primary btn-lg px-4" id="history-button">View Journal</a>
        </div>
      </div>
    </div>
  </div>


<!-- Log-Mood form -->
<form id="moods" action="/dashboard" method="POST">
    <div id="mood-log-form">
        <div id="feeling-today" class="mb-3">
            <select class="form-select" id="main-mood" name="main_mood" aria-label="Default select example" required>
                <option value="">How are you feeling today?</option>
                {{#each mainMoods}}
                    <option value="{{this.id}}">{{this.main_mood_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select" id="sub-mood" name="mood_id" aria-label="Default select example" required>
                <option value="">Pick a sub mood</option>
                {{#each mainMoods}}
                    {{#each this.submoods}}
                        <option value="{{this.id}}" data-main-mood="{{../id}}">{{this.mood_name}}</option>
                    {{/each}}
                {{/each}}
            </select>
        </div>
        <div id="write-thoughts" class="mb-3">
            <label for="content" class="form-label">Write your thoughts and feelings below:</label>
            <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
        </div>
        <div>
      
        <button> send email </button>
    <button id="submit-mood" type="button" class="btn btn-primary">Submit</button>
  </div>
  </div>
        <div class="box">Mood History</div>
        <div id="cal-heatmap"></div>
</form>


<!-- Footer -->
<footer id="footer" class="py-3 my-4">
    <h5 id="made-by">Made by</h5>
    <ul id="developers" class="nav justify-content-center pb-0 mb-0 mt-4">
      <li class="nav-item"><a href="https://github.com/Mtduffey36" class="nav-link px-2 text-body-secondary">Michael D.</a></li>
      <li class="nav-item"><a href="https://github.com/ManuelP02" class="nav-link px-2 text-body-secondary">Manuel P.</a></li>
      <li class="nav-item"><a href="https://github.com/Ejacosta86" class="nav-link px-2 text-body-secondary">Erica A.</a></li>
      <li class="nav-item"><a href="https://github.com/gabrielsalazar225" class="nav-link px-2 text-body-secondary">Gabriel Z.</a></li>
      <li class="nav-item"><a href="https://github.com/AndresAlbornozgil" class="nav-link px-2 text-body-secondary">Andres A.</a></li>
    </ul>
    <p id="year-made" class="text-center text-body-secondary">© 2024</p>
</footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../models/index.js"></script>
<script src="./js/mood.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/heatmap.js"></script>
</html>
